article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  GENERAL STYLES */
html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    font-weight: normal;
    color: black;
}

body { 
    font-size: 2.5rem;
    line-height: 1.6;
    background:#D6EBF0;
}

.container {
    width: 79.68%;
    max-width: 1530px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.cookie-image {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    max-height: 400px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.paper {
    text-align: center;
}

.fortune {
    font-family: 'Rokkitt', serif;
    background: white;
    // height: 70px;
    min-width: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 3%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // hyphens: auto;
    /* margin: 0 auto; */
    margin: 20% auto;
}

.display-fortune {
    // display: none;
}

.get-fortune {
    background: black;
    color: white;
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    background: black;
    height: 15%;
    min-width: 20%;
    position: absolute;
    p {
        margin: 0; 
    }
}

.rectangleTop {
    top: 0;
    left: 0;
}

.rectangleBottom {
    bottom: 0;
    left: 0;
}

.tweet-fortune,
.restart {
    display: block;
    margin: 2% auto;   
}

.footer-socials div {
    border-top: 1px solid #9faab9af; 
    display: flex;
    justify-content: space-between;
    color: #bed0e9;
}

.footer-socials ul {
    padding: 0;
    li {
        list-style: none;
        display: inline-block; 
        margin-left: 10px;
    }
    a {
        color: #bed0e9;
    }
    :hover {
        color: #9faab9af; 
    }
}
